h1 {
    text-align: center;
    color: rgb(116, 0, 0);
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10px;
}
#monsters-field {
    border-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: rgb(116, 0, 0);
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#battle-field {
    color: rgb(116, 0, 0);
}
h3 {
    text-align: center;
}
h4 {
    font-variant: small-caps;
    text-align: center;
}
body {
    margin: 0px;
    background-color: rgb(227, 209, 186);
}
field {
    text-align: center;
}
grid {
    margin: 20px;
    display: grid;
    /* grid templet to create the auto adjusting card sizes */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 20px;
}
div {
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 248, 239);
    box-shadow: 0 0 5px black;
}
#monster-cards > div:nth-child(even) {
    background-color: rgb(225, 225, 225);
}
p {
    text-align: center;
    font-variant: small-caps;
}
.main::first-letter {
    font-weight: bold;
    font-size: xx-large;
}
.main::first-line {
    line-height: 99%;
}
#main-text {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
span {
    display: flex;
    justify-content: center;
}
button {
    font-family: serif;
    font-variant: small-caps;
    transition: 0.5s;
    color: black;
    border-color: black;
    background-color: transparent;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin: 10px;
}
.red-btn-mouse-over {
    transition: 0.5s;
    color: white;
    border-color: red;
    background-color: red;
}
.blue-btn-mouse-over {
    transition: 0.5s;
    color: white;
    border-color: rgb(48, 107, 255);
    background-color: rgb(48, 107, 255);
}
form {
    font-size: x-large;
    font-variant: small-caps;
    font-style: oblique;
    text-align: center;
    box-sizing: border-box;
    border-color: rgb(116, 0, 0);
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#input-text-field {
    width: 50%;
}